  
.button-style-1 {
    padding: 15px 20px;
    font-size: 15px;
    text-align: center;
    color: #000000;
    background-color: #efe9e2;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}


   
.button-style-1:hover {
    background-color: #e8d9cfc4
}
   
.button-style-1:active {
    background-color: rgba(209, 193, 185, 0.808);
    color: #efe9e2;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
} 
  
    .directional-buttons-div {
        display: grid;
        grid-template-areas: "....  up  ....."
                            "left  ...  right"
                            ".... down ....."; 
        
    }

    .disable{
        pointer-events: none;
        opacity: 0.5;
    }

    .otherColor{
        background-color: rgba(245, 227, 211, 0.819);
    }
    
.up {
    grid-area: up;
}
  
.left {
    
    grid-area: left;
    background-color: rgb(251, 238, 225);
 
}
  
.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: right;
    padding: 20px;
    background-color:  rgb(251, 238, 225);
  
}
  
.down {
    grid-area: down;
}

.play {
    width: 80px;
    height: 80px;
    font-size: 25px;
    margin: auto;
    background-color: rgba(253, 249, 245, 0.853);
}

.play:hover{
    background-color:
    rgba(238, 233, 229, 0.853);
}

.play:active{
    background-color: rgba(209, 193, 185, 0.808);
    color: #efe9e2;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(4px);
}

.connection-Btn {
    border-radius: 10px;
    margin-left: 36%;
}


#seekValueF{
    padding: 4px;
    
}

#seekValueB{
    padding: 5px;
  
}

#forward{
    padding: 18px;
    
}

#backward{
    padding: 18px;

}





/* .btn-mrg {
    margin: 5px;
} */