  
.button-style-1 {
    padding: 15px 20px;
    font-size: 15px;
    text-align: center;
    background-color: #235ed3;
    color: white;
    border: none;
    border-radius: 50%;
}
   
.button-style-1:hover {
    background-color: transparent;
    transition: 0.3s;
    color: #235ed3;
    border: 1px solid #235ed3;
    
}

.button-style-1:active {
    background-color: #6490e9;
    border-color: #6490e9;
    color: white;
    transform: translateY(4px);
} 


  
.directional-buttons-div {
    display: grid;
    grid-template-areas: "....  up  ....."
                          "left  ..  right"
                          ".... down .....";    
}
    
.up {
    grid-area: up;
}
  
.left {
    grid-area: left;
}
  
.right {
    grid-area: right;
}
  
.down {
    grid-area: down;
}

.play {
    background-color: transparent;
    color: #235ed3;
    border: 1px solid #235ed3;
    width: 80px;
    height: 80px;
    font-size: 25px;
    margin-left: 25%;
}

.play:hover {
    background-color: #235ed3;
    color: white;
}

.connection-Btn {
    border-radius: 10px;
    margin-left: 36%;
}

/* .btn-mrg {
    margin: 5px;
} */