
.console-main {

    display: flex;
    flex-direction: row;
    background-color: rgba(241, 207, 191, 0.808);
    padding: 40px;
    border: 5px 5px solid;
    border-radius: 25px;
    width: 60%;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
.console-main div {
    width: 33%;
    height: auto;
}
  
.console-main div div {
    /* background-color: rgb(9, 23, 9); */
    width: auto;
}

  .slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%;
    height: 10px; 
    background: #efe9e2;
    outline: none; 
  }

.slider:hover {
  background-color: rgb(233, 233, 233);
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  border-radius: 15px;
  height: 25px; 
  background: #424141; 
}

.slider::-webkit-slider-thumb:hover {
  background-color: rgb(23, 22, 22);
}
