@import url("./button.css");
@import url("./nav.css");

body {
  background-color: grey;
  margin: 0;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.brdRadius {
  border-radius: 70px;
}

.pddg10 {
  padding: 10px;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.console-main {
  background-color: pink;
  padding: 15px;
  border: 5px 5px solid rgb(33, 184, 79);
  border-radius: 25px;
  max-width: 80%;
}

.console-main div {
  width: 33%;
  height: auto;
  /* margin: 10px; */
  background-color: red;
  max-width: 33%;
  padding: 15px;
}

.console-main div div {
  background-color: wheat;
  min-width: 93%;
}

