nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    background-color: rgb(255, 197, 169);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-main{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px; 
    color:rgba(43, 34, 28, 0.63);
  }