body {
  background-color: grey;
  margin: 0;
}

.nav-main {
  min-height: 20px;
  background-color: black;
}

.btn-skip {
  width: 100px;
}

.btn-param {
  width: 100px;
  height: 70px;
}

.flex-container {
  display: flex;
}

.brdRadius {
  border-radius: 70px;
}

.pddg10 {
  padding: 10px;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.console-main {
  background-color: pink;
  padding: 15px;
  margin: 35px;
  border: 5px 5px solid rgb(33, 184, 79);
  border-radius: 25px;
  max-width: 80%;
}

.console-main div {
  width: auto;
  height: auto;
  margin: 10px;
  background-color: red;
  max-width: 33%;
  
}

.button-style-1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
 
.button-style-1:hover {
  background-color: #3e8e41
}
 
.button-style-1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.directional-buttons {
  padding: 25px;
  width: 16rem;
  height: 16rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 45fr 60fr 45fr;
  grid-template-rows: 45fr 60fr 45fr;
  grid-template-areas: "....  up  ....."
                        "left  ..  right"
                        ".... down .....";    
  }

  /* base button */
.direction-button {
  color: rgb(189, 184, 184);
  border: none;
}

.direction-button:hover {
  color: rgb(85,55,55);
}
  
.up {
  grid-area: up;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.down {
  grid-area: down;
}
